Data structure : sets

In [41]:
#duplicate not allowed
this_set = {"apple","banana","cherry","apple"}
print(this_set)

{'cherry', 'banana', 'apple'}

In [42]:
#The values True and 1 are considered the same value in sets

set1 = {"table","chair",True,3,1}
print(set1)

{'chair', True, 3, 'table'}

In [10]:
#The values False and 0 are considered the same value in sets

set2 = {"banana","cherry",False,"apple",True}
print(set2)

#check a length of set

print(len(set2))

{'banana', False, True, 'apple', 'cherry'}
5

Data Type
A set with strings, integers and boolean values

In [38]:
my_set = {True ,"table" , "mouse","computer",45,False}
print(my_set)

print(type(my_set))

{False, True, 'mouse', 'computer', 'table', 45}
<class 'set'>

set constructor

In [40]:
set_con = set(("banana","cherry","mango"))
print(set_con)

{'cherry', 'banana', 'mango'}

Access items sets

using for loop

In [21]:
my_set = {"apple","computer","mouse","laptop"}

for x in my_set:
    print(x)
    
#check item present in set

print("banana" in my_set)

print("computer" in my_set)

print("apple" not in my_set)

laptop
mouse
apple
computer
False
True
False

Add the item in set

In [24]:
my_set = {"apple","computer","mouse","laptop"}
my_set.add("orange")
print(my_set)

{'mouse', 'orange', 'laptop', 'apple', 'computer'}

Update

To add items from another set into the current set, use the update() method

In [26]:
my_set = {"apple","computer","mouse","laptop"}
fruit = {"banana","cherry","mango","pineapple"}

my_set.update(fruit)

print(my_set)

{'banana', 'mouse', 'cherry', 'laptop', 'mango', 'pineapple', 'apple', 'computer'}

In [28]:
#add the item list to set

my_set1 = {"orange","mango"}
list1 = ["computer","mouse","laptop"]

my_set1.update(list1)
print(my_set1)

{'mouse', 'orange', 'laptop', 'mango', 'computer'}

Remove item 

using remove() and discard() method

In [37]:
my_set = {"apple","computer","mouse","laptop"}
print(my_set)

#remove method
my_set.remove("computer")
print(my_set)

#discard method
my_set.discard("apple")
print(my_set)

#discard not raise an error
my_set.discard("banana")
print(my_set)

{'laptop', 'mouse', 'apple', 'computer'}
{'laptop', 'mouse', 'apple'}
{'laptop', 'mouse'}
{'laptop', 'mouse'}

In [39]:
#remove item using pop()
my_set = {"apple","computer","mouse","laptop"}
my_set.pop()
print(my_set)

{'mouse', 'apple', 'computer'}

In [41]:
#clear() method

my_set = {"apple","computer","mouse","laptop"}
my_set.clear()
print(my_set)

set()

In [45]:
#del keyword
my_set = {"apple","computer","mouse","laptop"}

del my_set

Join set

Union

In [47]:
#Join set1 and set2 into a new set

set1 = {23,5,6,1,45,90}
set2 = {"apple","banana","cherry"}
set3 = set1.union(set2)
print(set3)

{'banana', 1, 5, 6, 'cherry', 45, 'apple', 23, 90}

In [49]:
#You can use the '|' operator instead of the union() method, and you will get the same result.

set1 = {23,5,6,1,45,90}
set2 = {"apple","banana","cherry"}

set3 = set1 | set2
print(set3)

{'banana', 1, 5, 6, 'cherry', 45, 'apple', 23, 90}

join multiple set into

In [36]:
set1 = {23,5,6,1,45,90}
set2 = {"apple","banana","cherry"}
set3 = {"john","mohan","manichand"}
set4 = {"red","blue","purple","orange"}

my_set = set1.union(set2,set3,set4)
print(my_set)

#join using | operator
my_set = set1 | set2 | set3 | set4 
print(my_set)

for i in my_set:
    print(i)

{'cherry', 1, 5, 6, 'john', 'mohan', 45, 'apple', 'orange', 'red', 'banana', 'blue', 'manichand', 'purple', 23, 90}
{'cherry', 1, 5, 6, 'john', 'mohan', 45, 'apple', 'orange', 'red', 'banana', 'blue', 'manichand', 'purple', 23, 90}
cherry
1
5
6
john
mohan
45
apple
orange
red
banana
blue
manichand
purple
23
90

Join a Set and a Tuple

In [37]:
#using union()

set_n = {"a","d","y","l"}
tuple1 = (1,45,7)

new_set = set_n.union(tuple1)
print(new_set)

{1, 7, 'a', 45, 'd', 'l', 'y'}

intersection()

In [5]:
set1 = {"apple","banana","cherry"}
set2 = {"banana","red","black"}

set3 = set1.intersection(set2)
print(set3)

{'banana'}

In [7]:
#You can use the & operator instead of the intersection() method

set1 = {"google","microsoft","infosys","apple"}
set2 = {"apple","banana","orange"}

set3 = set1 & set2
print(set3)

{'apple'}

Difference

In [2]:
#return only first set value and not same item show
set1 = {"google","microsoft","infosys","apple"}
set2 = {"apple","banana","orange"}

set3 = set1.difference(set2)

print(set3)

{'google', 'infosys', 'microsoft'}

In [4]:
#you can use '-' operator instead of the difference() method

#return only first set value and not same item show
set1 = {"google","microsoft","infosys","apple"}
set2 = {"apple","banana","orange","red"}

set3 = set1 - set2

print(set3)

{'google', 'infosys', 'microsoft'}

different_update

In [8]:
set1 = {"google","microsoft","infosys","apple"}
set2 = {"apple","banana","orange","red"}

set1.difference_update(set2)

print(set1)

{'google', 'infosys', 'microsoft'}

Symmetric Differences

In [10]:
#Remove an element from a set; it must be a member. If the element is not a member, raise a KeyError.
set1 = {"google","microsoft","infosys","apple"}
set2 = {"apple","banana","orange","red"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'red', 'orange', 'banana', 'infosys', 'microsoft'}

In [12]:
#You can use the ^ operator instead of the symmetric_difference() method

set1 = {"google","microsoft","infosys","apple"}
set2 = {"apple","banana","orange","red"}

set3 = set1^set2

print(set3)

{'google', 'red', 'orange', 'banana', 'infosys', 'microsoft'}

In [13]:
set1 = {"google","microsoft","infosys","apple"}
set2 = {"apple","banana","orange","red"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'red', 'orange', 'infosys', 'banana', 'microsoft'}

copy()

In [14]:
fruit = {"apple","banana","orange"}

x = fruit.copy()

print(x)

{'banana', 'apple', 'orange'}

isdisjoint() method

Return True if no items in set x is present in set y

In [16]:
x = {"apple" ,"banana","cherry"}
y = {"microsoft","facebook","infosys"}

n_set = x.isdisjoint(y)

print(n_set)

True

In [18]:
x = {"apple" ,"banana","cherry"}
y = {"microsoft","facebook","infosys","apple"}

n_set = x.isdisjoint(y)

print(n_set)

False

issubset() method

In [19]:
x = {"a","g","t"}
y = {"f","e","a","l","g","t"}

z = x.issubset(y)

print(z)

True

#As a shortcut, you can use the <= operator

In [22]:
x = {"a","g","t"}
y = {"f","e","a","l","t"}

z = x <= y

print(z)

False

In [27]:
y = {"f","e","a","l","t"}
x = {"a","g","t"}

z = x.issuperset(y)

print(z)

False

In [30]:
x = {"a","g","t"}
y = {"f","e","a","l","g","t"}

z = y.issuperset(x)

print(z)

True

In [32]:
y = {"f","e","a","l","t"}
x = {"a","g","t"}
    
z = x >= y

print(z)

False

In [43]:
from sympy import*

x = prod([1,2,3],5)

print(x)

30

In [35]:
a = frozenset([11, 12, 13, 14])

b = frozenset([23, 24, 25, 26])

print(a.isdisjoint(b))

print(a.difference(b))

print(a|b)

True
frozenset({11, 12, 13, 14})
frozenset({11, 12, 13, 14, 23, 24, 25, 26})