Operators 

opeartor are used to perform operations on variable and vale.

In [1]:
print(10+5)

15

Arithmetic operators

In [8]:
# Addition
x = 5
y = 10


print(x+y)

## subtraction
print(x - y)

#multiplication
print(x*y)

#division
print(x/y)

#modulus 
print(x%y)

15
-5
50
0.5
5

In [7]:
#Floor division
x = 15
y = 2
print(x//y)

7

In [9]:
#Exponentiation
#** is the exponentiation operator.It is used to raise the first operand to the power of the second. 
a = 2
b = 5
res = a**b

print(res)

32

Comparison Operators

In [27]:
# equal 
x = 5
y = 3
z = 5

print(x==y)
print(x==z)

# returns false  because 5 is not equal to 3

#not equal

print(x!=y)
print(x!=z)

False
True
True
False

In [16]:
# greater than
x = 15
y = 3
print(x>y)

#less than
print(x<y)

True
False

In [28]:
#greater than equal to

x = 20
y = 45
z = 20

print(x>=y)

#less than equal to

print(x<=y)

print(x>=z)

False
True
True

logical operator

In [19]:
# and -- Returns True if both statements are true

x = 10
print (x > 5 and x < 15)

True

In [22]:
#or -  return true if  one statement is true

x = 15
print (x > 10 or x < 4)

True

In [38]:
# not - reverse the result if statement is false than return true

x = 25
print(not(x>3 and x<13))

True
0

In [40]:
a = 20
b = 30
c = 50

if a > 15 and b > 25:
    print("number are greater than 15 and 25")

if a < 40 or c < 30:
    print("number are less than 20 and 50")
    
if not (a % 10 == 0 or b % 10 == 0):
    print("20 and 30 is divisible by 10")
    
else:
    print("20 and 30 is not divisible by 10")

number are greater than 15 and 25
number are less than 20 and 50
20 and 30 is not divisible by 10

Chaining comparison Operator

In [36]:
#we can use the chaining comparison operators to check multiple conditions in a single expression. One simple way of solving multiple conditions is by using Logical Operators. But in chaining comparison operators method, we can achieve this without any other operator.

a = 5

print(3 < a < 25)
print(10 > a <= 5 )
print(5 != a > 3)
print(a < 10 < a*10 == 50)

True
True
False
True

In [41]:
a, b, c, d, e, f = 0, 5, 12, 0, 15, 15
exp1 = a <= b < c > d is not e is f
exp2 = a is d > f is not c
print(exp1)
print(exp2)

True
False