LOOPS

FOOR LOOP

In [1]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [3]:
fruits = ["banana","cherry","apple","mango"]
for x in fruits:
    print(x)

banana
cherry
apple
mango

Range() function

In [5]:
for x in range(5):
    print(x)

0
1
2
3
4

In [6]:
for x in range(2,8):
    print(x)

2
3
4
5
6
7

In [7]:
for x in range(2,25,3):
    print(x)

2
5
8
11
14
17
20
23

Loop Control Statement

Break Statement

In [9]:
fruit = ["banana","cherry","apple"]
for x in fruit:
    print(x)
    if x == "cherry":
        break

banana
cherry

In [10]:
fruit = ["banana","cherry","apple","pineapple"]
for x in fruit:
    if x == "cherry":
        break
    print(x)

banana

continue statement

In [11]:
fruit = ["banana","cherry","apple","pineapple"]
for x in fruit:
    if x == "cherry":
        continue
    print(x)

banana
apple
pineapple

In [52]:
for i in "methodsofmethod":
    if i== 'o' or i== 't' :
        continue
    print(i)

m
e
h
d
s
f
m
e
h
d

ELSE IN FOR LOOP

In [12]:
for x in range(6):
    print(x)
    
else:
    print("Finally Finished")

0
1
2
3
4
5
Finally Finished

In [34]:
for x in range(6):
    if x > 2: 
        print(x)
else:
        print("finished")

3
4
5
finished

Nested Foor loop

In [35]:
adj =["healthy","testy","fruit ="]
fruit = ["cherry","banana","mango"]

for x in adj:
    for y in fruit:
        print(x,y)

healthy cherry
healthy banana
healthy mango
testy cherry
testy banana
testy mango
fruit = cherry
fruit = banana
fruit = mango

In [49]:
for i in range(1,5):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

WHILE LOOP

In [37]:
i = 1
while i < 6:
    print (i)
    i+=1

1
2
3
4
5

In [38]:
#break in while loop
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [45]:
#continue in for loop
i = 0
while i < 8:
    i+=1
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8

In [43]:
count = 0
while (count < 3):
    count = count +1
    print("hello")

hello
hello
hello

ELSE IN WHILE LOOP

In [41]:
i = 1
while i < 8:
    print(i)
    i+=1
    
else:
    print("i is no longer less than 8 ")

1
2
3
4
5
6
7
i is no longer less than 8

In [46]:
count = 0
while (count < 3):
    count = count +1
    print("hello")
else:
    print("in else block")

hello
hello
hello
in else block

In [51]:
count = 0
while count <10 :
    count = count+5
    print("python loops")

python loops
python loops