Tuples

In [2]:
mytuple = ("banana","apple","orange")
print(mytuple)

#length of tuple
print(len(mytuple))

('banana', 'apple', 'orange')
3

In [4]:
#create a tuple with one item
my_tuple = ("apple",)
print(my_tuple)

#check a type of tuple
print(type(my_tuple))

('apple',)
<class 'tuple'>

In [5]:
#A tuple can contain different data types

m_tuple = ("34","orange","78","pineapple","True")
print(m_tuple)
print(type(m_tuple))

('34', 'orange', '78', 'pineapple', 'True')
<class 'tuple'>

Tuple constructor

In [6]:
#tuple constructor use (())
con_tuple = tuple(("apple","banana","watermelon"))
print(con_tuple)

('apple', 'banana', 'watermelon')

Access the tuple item

In [9]:
m_tuple = ("34","orange","78","pineapple","True")
print(m_tuple[2])
print(m_tuple[4])

#negative indexing
print(m_tuple[-1])

78
True
True

Range of index

In [16]:
this_tuple = ("apple","banana","orange","mango","pineapple","watermelon")
print(this_tuple[2:5])

print(this_tuple[:6])

print(this_tuple[1:])

#negative item

print(this_tuple[-3:-1])

('orange', 'mango', 'pineapple')
('apple', 'banana', 'orange', 'mango', 'pineapple', 'watermelon')
('banana', 'orange', 'mango', 'pineapple', 'watermelon')
('mango', 'pineapple')

In [ ]:
#check if item exists
this_tuple = ("apple","banana","orange","mango","pineapple","watermelon")
if "pineapple" in this_tuple:
    print("yes , pineapple is present in tuple")

Update th e tuple

In [20]:
#convert tuple into a list
x = ("apple","banana","cherry")
y = list(x)
print(y)
y[1] = "pineapple"
x = tuple(y)
print(x)
print (y)

['apple', 'banana', 'cherry']
('apple', 'pineapple', 'cherry')
['apple', 'pineapple', 'cherry']

In [25]:
# add item in tuple
mytuple = ("banana","apple","orange")
y = list(mytuple)
print(y)
y.append("mango")
mytuple = tuple(y)
print(mytuple)

['banana', 'apple', 'orange']
('banana', 'apple', 'orange', 'mango')

In [29]:
#add tuple to tuple
this_tuple = ("apple","banana","orange","mango")
y = ("cherry",)
this_tuple += y
print(this_tuple)

('apple', 'banana', 'orange', 'mango', 'cherry')

In [31]:
#remove items in tuple with use of list
this_tuple = ("apple","banana","orange","mango")
y = list(this_tuple)
print(this_tuple)
y.remove("banana")
print(y)
this_tuple = tuple(y)
print(this_tuple)

('apple', 'banana', 'orange', 'mango')
['apple', 'orange', 'mango']
('apple', 'orange', 'mango')

Delete the tuple using del keyword

In [34]:
this_tuple = ("apple","banana","orange","mango")
del this_tuple
print("tuple is completely delete ")

tuple is completely delete

Unpacking a tuple

In [36]:
#packing tuple

color = ("red","blue","pink")
print(color)

('red', 'blue', 'pink')

In [38]:
#unpacking tuple 

fruit = ("banana","kiwi","apple")
(yellow,green,red) = fruit

print(red)
print(yellow)
print(green)

apple
banana
kiwi

Using Asterisk*

In [48]:
#If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

fruit = ("banana","apple","kiwi","watermelon")
(yellow , red, *green) = fruit
print(yellow)
print(red)
print(green)

banana
apple
['kiwi', 'watermelon']

loop through a tuple

In [50]:
fruit = ("banana","apple","kiwi","watermelon")
for a in fruit:
    print(a)

banana
apple
kiwi
watermelon

In [53]:
#loop through the index number 
fruit = ("banana","apple","kiwi","watermelon")
for i in range(len(fruit)):
    print(i)
    print(fruit[i])

0
banana
1
apple
2
kiwi
3
watermelon

print all item using while loop

In [55]:
fruit = ("banana","apple","kiwi","watermelon")
i = 0
while i < len(fruit):
    print(fruit[i])
    i = i + 1

banana
apple
kiwi
watermelon

Join two tuple

In [57]:
tuple1 = ("table","chair","pen")
tuple2 = ("computer","laptop","tablet")

tuple3 = tuple1 + tuple2

print(tuple3)

('table', 'chair', 'pen', 'computer', 'laptop', 'tablet')

multiply Tuples

In [59]:
tuple1 = ("table","chair","pen")

my_tuple = tuple1 * 2 

print(my_tuple)

('table', 'chair', 'pen', 'table', 'chair', 'pen')

Tuple method

count method

In [61]:
#count 

tuple1 = ("table","chair","pen","chair")
a = tuple1.count("chair")
print(a)

2

Index method

In [64]:
#index method return specific index tuple.index(element, start, end)

number_t = (1,45,7,32,5,8,6,5,5,4,7)
x = number_t.index(7)
print(x)

2